<template>
  <v-app-bar
    app
    color="transparent"
    class="elevation-0"
    :height="72.5"
  >
    <v-app-bar-nav-icon
      v-if="!drawer"
      @click="toggleDrawer"
    />
    <v-toolbar-title>{{ $t(`router.${$route.name}`) }} </v-toolbar-title>
    <v-spacer />

    <v-switch
      v-model="isDark"
      class="px-4 pt-4"
      prepend-icon="mdi-theme-light-dark"
    />
  </v-app-bar>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
export default {
  name: 'DefaultBar',
  computed: {
    ...mapState(['drawer']),
    isDark: {
      get () {
        return this.$store.state.isDark
      },
      set (value) {
        this.$store.commit('setDark', value)
      }
    }
  },
  methods: {
    ...mapMutations(['toggleDrawer'])
  }
}
</script>
