<template>
  <v-navigation-drawer
    v-model="drawer"
    :color="`${isDark ? '#2E2F31' : 'primary'}`"
    dark
    overflow
    app
    mobile-break-point="930"
    class="elevation-5"
  >
    <!-- Sidebar header -->
    <v-list-item two-line>
      <v-list-item-avatar>
        <v-avatar
          height="40"
          contain
        >
          <v-img
            src="https://picsum.photos/id/11/10/6"
            contain
          />
        </v-avatar>
      </v-list-item-avatar>
      <v-list-item-title>{{ $t("app.title") }}</v-list-item-title>
    </v-list-item>

    <!-- /Sidebar header -->

    <v-divider class="mx-3 mb-2" />

    <!-- Sidebar user -->
    <v-list-group class="white--text">
      <template #activator>
        <v-list-item-avatar>
          <v-avatar
            :color="isDark ? 'primary white--text' : 'white black--text'"
          >
            {{ avatar }}
          </v-avatar>
        </v-list-item-avatar>

        <v-list-item-title
          class="white--text"
        >
          {{ fullName }}
        </v-list-item-title>
      </template>
      <v-list-item @click="$store.dispatch('session/logout')">
        <v-list-item-avatar>
          <v-icon>mdi-lock</v-icon>
        </v-list-item-avatar>

        <v-list-item-title>{{ $t("users.signOut") }}</v-list-item-title>
      </v-list-item>
    </v-list-group>
    <!-- /Sidebar user -->
    <v-divider class="mx-3 mb-2" />

    <!-- Sidebar Menus -->
    <v-list
      shaped
      dense
    >
      <template v-for="(item, i) in items">
        <template v-if="groupId <= item.level">
          <v-subheader
            v-if="item.heading"
            :key="`heading-${i}`"
            :class="isDark ? 'text--primary white--text text-uppercase':
              'text--primary font-weight- text-uppercase'
            "
            v-text="item.heading"
          />

          <v-divider
            v-else-if="item.divider"
            :key="`divider-${i}`"
            class="mt-3 mb-2 ml-2 mr-n2"
          />
          <default-list-group
            v-else-if="item.items"
            :key="`group-${i}`"
            :item="item"
            :dark="isDark"
            class="mt-2"
          />
          <default-list-item
            v-else
            :key="`item-${i}`"
            :item="item"
            class="mt-2"
            :dark="isDark"
          />
        </template>
      </template>
    </v-list>
    <!-- Sidebar Menus -->
  </v-navigation-drawer>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

import { MENU } from '@/plugins/const'

import DefaultListGroup from './ListGroup'
import DefaultListItem from './ListItem'
export default {
  name: 'DefaultDrawer',
  components: {
    DefaultListGroup,
    DefaultListItem
  },
  data () {
    return {
      items: MENU
    }
  },
  computed: {
    ...mapState(['isDark', 'session']),
    ...mapGetters({
      avatar: 'session/avatar',
      fullName: 'session/fullName',
      groups: 'session/groups'
    }),
    groupId () {
      if (this.groups.length > 0) {
        return this.groups[0].id
      }
      return 3
    },
    drawer: {
      get () {
        return this.$store.state.drawer
      },
      set (value) {
        this.$store.commit('setDrawer', value)
      }
    }
  },
  methods: {
    getAuthorization (level) {
      return this.groupId <= level
    }
  }
}
</script>
