<template>
  <v-footer
    :app="isFull"
    :color="`${color}`"
    :class="isDark ? 'd-flex justify-center white--text' : 'd-flex justify-center'"
    :style="`${style}`"
  >
    {{ $t('copyright.helpers.madeWith') }}
    <span
      class="px-1"
      style="color:red;"
    >
      &hearts;
    </span>
    {{ $t('copyright.helpers.by') }}
    {{ $t('copyright.company.name') }}

    <template v-if="isFull">
      <v-spacer />

      {{ $t('app.version', { version, name: $t(`changelog.versions.${this.$store.state.version.local.version}.name`) }) }}
    </template>
  </v-footer>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'DefaultFooter',
  props: {
    isFull: {
      type: Boolean,
      default: () => false
    },

    color: {
      type: String,
      default: () => 'transparent'
    },
    colorText: {
      type: String,
      default: () => 'black'
    }
  },

  computed: {
    ...mapState(['isDark']),
    ...mapGetters(['version']),
    /**
      * Styles
      * Returns a string with a Style code using the colorText
      *
      * @since 2021-01-01
      * @access private
      *
      * @return {String} Style code
      */
    style () {
      return `color:${this.colorText}`
    }
  }
}
</script>
