<template>
  <v-list-group
    v-model="model"
    :group="group"
    :prepend-icon="icon"
    append-icon="mdi-menu-down"
    class="v-list-group--default"
    no-action
    v-bind="$attrs"
    active-class="white--text"
  >
    <template #activator>
      <v-list-item-content>
        <v-list-item-title
          v-if="item.title"
          v-text="item.title"
        />
      </v-list-item-content>
    </template>

    <template v-for="(child, i) in item.items">
      <v-subheader
        v-if="child.heading"
        :key="`heading-${i}`"
        :class="dark ? 'white--text font-weight-black text-uppercase':
          'font-weight-black text-uppercase'
        "
        inset
        v-text="child.title"
      />

      <v-divider
        v-else-if="child.divider"
        :key="`divider-${i}`"
        inset
        class="mt-3 mb-2 ml-16"
      />

      <default-list-group
        v-else-if="child.items"
        :key="`sub-group-${i}`"
        :item="child"
        :dark="dark"
        sub-group
      />

      <default-list-item
        v-else
        :key="`child-${i}`"
        class="mt-1"
        :item="child"
        :dark="dark"
      />
    </template>
  </v-list-group>
</template>

<script>
// Components
import DefaultListItem from './ListItem'
export default {
  name: 'DefaultListGroup',
  components: {
    DefaultListItem
  },
  props: {
    item: {
      type: Object,
      default: () => ({})
    },
    dark: {
      type: Boolean,
      default: () => false
    }
  },
  data: () => ({
    model: null
  }),
  computed: {
    /**
      Returns name of the routes.
      @return {string} name of the routes.
    */
    group () {
      return this.genGroup(this.item.items)
    },
    /**
      Returns the icon according to the status of the list.
      @return {string} icon.
    */
    icon () {
      if (!this.item.icon) return undefined
      const [off, on] = this.item.icon.split(':')
      return this.model ? (on || off) : off
    }
  },
  methods: {
    /**
      Returns text string according to routing levels.
      @param {Array} items
      @return {string} route chain.
    */
    genGroup (items) {
      return items.reduce((acc, cur) => {
        acc.push(
          cur.items
            ? this.genGroup(cur.items)
            : cur.to
        )
        return acc
      }, []).join('|')
    }
  }
}
</script>

<style lang="sass">
</style>
