<template>
  <v-list-item
    :href="item.href"
    :rel="item.href ? 'nofollow' : undefined"
    :target="item.href ? '_blank' : undefined"
    :to="item.to"
    class="v-list-item--default"
    :color="dark ? 'primary': 'white'"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <v-list-item-icon
      v-if="item.icon"
      :class="dark ? 'white--text': ''"
    >
      <v-icon v-text="item.icon" />
    </v-list-item-icon>
    <v-list-item-content>
      <v-list-item-title
        :class="dark ? 'white--text': ''"
        v-text="$t(`router.${item.title.toLowerCase()}`)"
      />
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  name: 'DefaultListItem',
  props: {
    item: {
      type: Object,
      default: () => ({})
    },
    dark: {
      type: Boolean,
      default: () => false
    }
  }
}
</script>

<style lang="sass">
</style>
