<template>
  <div>
    <template v-for="(alert, i) in alerts">
      <v-snackbar
        :key="`alert-${i}`"
        shaped
        :value="true"
        :timeout="alert.duration"
        :top="!alert.asLogin"
        :right="!alert.asLogin"
        :bottom="alert.asLogin"
        :left="!alert.asLogin"
        :color="(alert.color ? alert.color : 'primary')"
        :style="alert.asLogin ? `padding-bottom: 15px; bottom: ${10 + ((alerts.length - 1 - i) * 60)}px` : `top: ${10 + ((alerts.length - 1 - i) * 60)}px`"
      >
        {{ alert.message }}
        <template v-slot:action="{ attrs }">
          <v-btn
            icon
            v-bind="attrs"
            @click="removeMessage(i)"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </template>
      </v-snackbar>
    </template>
  </div>
</template>
<script>

export default {
  name: 'DefaultSnackbar',
  data: () => ({
    alerts: []
  }),

  created () {
    this.$store.subscribe((mutation) => {
      if (mutation.type === 'toggleSnackbar') {
        let payload = mutation.payload

        if (!payload) {
          payload = {
            duration: 4000,
            message: this.$i18n.t('helpers.errors.disaster'),
            color: 'red darken-4'
          }
        }

        if (!payload.duration) {
          payload.duration = 4000
        }

        this.alerts.push(payload)

        setTimeout(() => {
          this.alerts.pop()
        }, (payload.duration | 4000))
      }
    })
  },

  methods: {
    removeMessage (i) {
      this.alerts.splice(i, 1)
    }
  }
}
</script>
