<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="data"
      sort-by="calories"
      class="elevation-1"
      :search="search"
      :page.sync="page"
      :items-per-page="itemsPerPage"
      hide-default-footer
      @page-count="pageCount = $event"
    >
      <template
        v-for="field in dynamicSlots"
        v-slot:[field.name]="{ item }"
      >
        <slot
          :name="`dynamicSlot${field.name.split('.')[1]}`"
          :proxiedProps="item"
        />
      </template>
      <template v-slot:top>
        <v-toolbar
          flat
        >
          <v-spacer />
          <v-text-field
            v-model="search"
            class="pt-5 pr-4"
          >
            <v-icon
              slot="append"
              color="blue"
            >
              mdi-magnify
            </v-icon>
          </v-text-field>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                v-if="actionNew"
                color="primary"
                icon
                text
                v-on="on"
                @click="$emit('new-item')"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>

            <span>{{ $t(`${name}.title.new`) }}</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                v-show="actionEditBulk && name==='hits'"
                color="blue darken-2"
                icon
                text
                v-on="on"
                @click="$emit('edit-bulk')"
              >
                <v-icon>mdi-clipboard-edit-outline</v-icon>
              </v-btn>
            </template>

            <span>{{ $t(`${name}.title.bulk`) }}</span>
          </v-tooltip>

          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                color="warning"
                icon
                text
                v-on="on"
                @click="$emit('reload')"
              >
                <v-icon>mdi-reload</v-icon>
              </v-btn>
            </template>

            <span>{{ $t('actions.reload') }}</span>
          </v-tooltip>
        </v-toolbar>
      </template>
      <template
        v-slot:[`item.id`]="{ index }"
      >
        {{ index + 1 }}
      </template>
      <template
        v-slot:[`item.actions`]="{ item }"
      >
        <v-btn
          v-if="item.actions.show"
          small
          icon
          text
          :color="`blue`"
          @click="$emit('alter-actions',{ action: 'show', id: item.id })"
        >
          <v-icon>mdi-file-find-outline</v-icon>
        </v-btn>

        <v-btn
          v-if="item.actions.edit"
          small
          icon
          text
          :color="`warning`"
          @click="$emit('alter-actions',{ action: 'edit', id: item.id })"
        >
          <v-icon>mdi-file-document-edit-outline</v-icon>
        </v-btn>

        <v-btn
          v-if="item.actions.delete"
          small
          icon
          text
          :color="`red`"
          @click="$emit('alter-actions',{ action: 'delete', id: item.id })"
        >
          <v-icon>mdi-file-cancel-outline</v-icon>
        </v-btn>
      </template>
      <template v-slot:no-data>
        <v-alert
          text
          prominent
          type="error"
          color="primary"
          icon="mdi-cloud-alert"
          class="mt-4"
        >
          {{ $t('helpers.nodata') }}
        </v-alert>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        v-model="page"
        :length="pageCount"
        :total-visible="10"
      />
    </div>
  </div>
</template>
<script>
export default {
  name: 'DefaultDataTable',
  props: {
    dynamicSlots: {
      type: Array,
      required: false,
      default: () => []
    },
    name: {
      type: String,
      required: true
    },
    hasActions: {
      type: Boolean,
      required: false,
      default: () => false
    },
    actionNew: {
      type: Boolean,
      required: false,
      default: () => true
    },

    items: {
      type: Array,
      required: false,
      default: () => []
    },
    column: {
      type: Array,
      required: false,
      default: () => []
    },

    itemsPerPage: {
      type: Number,
      required: false,
      default: () => 10
    },
    actionsAccess: {
      type: Object,
      required: false,
      default: () => { return { show: true, edit: true, delete: true } },
      validator (value) {
        if (value.show === null || value.edit === undefined || value.delete === undefined) {
          return false
        }
        return true
      }
    }
  },
  data () {
    return {
      search: '',
      page: 1,
      pageCount: 0
    }
  },
  computed: {
    actionEditBulk () {
      return parseInt(this.$store.state.session.entity.groups[0].id) < 3
    },
    /**
      * Data
      * Returns an array of objects with the data for the table
      *
      * @since 2021-03-05
      * @access private
      *
      * @return {Array}
      */
    data () {
      return this.items.map((item, i) => {
        return {
          ...item,
          actions: this.actionsAccess
        }
      })
    },
    /**
      * Header
      * returns an array of objects with the data for the header
      *
      * @since 2021-03-05
      * @access private
      *
      * @return {Array}
      */
    headers () {
      if (this.hasActions) {
        return [
          {
            sortable: true,
            align: 'center',
            text: '#',
            value: 'id',
            width: 30
          },
          ...this.column,
          {
            sortable: false,
            align: 'end',
            value: 'actions',
            text: this.$i18n.t('actions.title')
          }
        ]
      } else {
        return [
          {
            sortable: true,
            align: 'center',
            text: '#',
            value: 'id',
            width: 30
          },
          ...this.column
        ]
      }
    }
  },
  methods: {}
}
</script>
