<template>
  <v-container
    fill-height
    fluid
    pa-0
  >
    <v-layout
      align-center
      justify-center
      :style="styles"
    >
      <div
        v-if="hasImage"
        style="position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.8); width: 100vw; height: 100vh;"
      />
      <transition
        name="component-fade"
        mode="out-in"
      >
        <router-view />
      </transition>
    </v-layout>

    <default-footer
      :is-full="true"
      :color-text="'white'"
    />
  </v-container>
</template>

<script>
import DefaultFooter from '@/components/utils/Footer'

export default {
  components: {
    DefaultFooter
  },
  data () {
    return {
      background: 'static/img/background.gif'
    }
  },
  computed: {
    /**
      * Has image
      * Returns if has a Background image
      *
      * @since 2021-01-01
      * @access private
      *
      * @return {Boolean}
      */
    hasImage () {
      return true
    },

    /**
      * Styles
      * Returns a string with a Style code using the condition hasImage()
      *
      * @since 2021-01-01
      * @access private
      *
      * @return {String} Style code
      */
    styles () {
      if (this.hasImage) {
        return `background-image: url(${this.background}); background-size: cover; background-position: center;`
      }
      // Without background image
      return `background: ${this.$vuetify.theme.themes.light.primary};`
    }
  }

}
</script>

<style>
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
