<template>
  <v-app>
    <default-bar />
    <v-content>
      <default-drawer />

      <div class="px-2 py-0">
        <transition
          name="component-fade"
          mode="out-in"
        >
          <router-view />
        </transition>
      </div>
    </v-content>
    <default-footer />
  </v-app>
</template>

<script>
import DefaultDrawer from '@/components/utils/Drawer'
import DefaultBar from '@/components/utils/Bar'

import DefaultFooter from '@/components/utils/Footer'

import { mapState } from 'vuex'

export default {
  components: {
    DefaultDrawer,
    DefaultBar,
    DefaultFooter
  },
  computed: {
    ...mapState(['isDark'])
  },

  watch: {
    /**
      * Is Dark Watcher
      * Watch isDark state changes
      *
      * @since 2020-03-05
      * @access private
      *
      * @param {Boolean} newVal new value of isDark state
      * @param {Boolean} oldVal old value of isDark state
      */
    isDark (newVal, oldVal) {
      this.$vuetify.theme.dark = newVal
    }
  }
}
</script>
<style lang="sass">
  .theme--dark.v-application
    background-color: #303030
</style>
