<template>
  <v-container fluid>
    <default-data-table
      name="hits"
      has-actions
      :action-new="userGroupId !== 3"
      :items="data"
      :column="headers"
      :items-per-page="itemsPerPage"
      :actions-access="actionsAccess"
      :dynamic-slots="dynamicSlots"
      @new-item="newItem"
      @alter-actions="alterAction"
      @edit-bulk="editBulk"
      @reload="$store.dispatch('hits/getList', true)"
    >
      <template v-slot:dynamicSlotstatus="item">
        <v-chip
          :color="getColor(item.proxiedProps.status)"
          dark
        >
          {{ $t(`hits.enums.${item.proxiedProps.status}`) }}
        </v-chip>
      </template>
    </default-data-table>
    <v-dialog
      v-model="dialog"
      max-width="90%"
      height="90%"
      scrollable
      persistent
      transition="dialog-transition"
      :overlay="false"
      :dark="isDark"
    >
      <v-card>
        <v-card-title>
          <span class="headline">{{ dialogTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-row class="pt-2">
            <v-col
              cols="12"
              md="4"
            >
              <v-text-field
                v-model="object.target"
                outlined
                :label="$t('hits.target')"
                :disabled="!isEditting || (object.status !== 'ASSIGNED' && object.id !== undefined)"
                :error="errorsMain.target.length > 0"
                :error-messages="errorsMain.target"
              />
            </v-col>
            <v-col
              cols="12"
              md="4"
            >
              <v-text-field
                v-model="object.description"
                outlined
                :label="$t('hits.description')"
                :disabled="!isEditting || (object.status !== 'ASSIGNED' && object.id !== undefined)"
                :error="errorsMain.description.length > 0"
                :error-messages="errorsMain.description"
              />
            </v-col>
            <v-col
              cols="12"
              sm="4"
            >
              <v-autocomplete
                v-model="object.hitmenId"
                outlined
                :items="hitmenList"
                item-value="id"
                item-text="email"
                :label="$t('hits.hitmenId')"
                :disabled="!isEditting || (object.id !== undefined && object.status !== 'ASSIGNED')"
                :error="errorsMain.hitmenId.length > 0"
                :error-messages="errorsMain.hitmenId"
              />
            </v-col>
            <v-col
              v-if="object.id !== undefined"
              cols="12"
              md="6"
            >
              <v-text-field
                :value="$t(`hits.enums.${object.status}`)"
                outlined
                :label="$t('hits.status')"
                disabled
              />
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="red darken-1"
            dark
            @click="discard(true)"
          >
            {{ $t('actions.cancel') }}
          </v-btn>
          <v-spacer />

          <v-btn
            v-if="object.status === 'ASSIGNED'"
            color="red darken-1"
            dark
            @click="changeStatus('FAILED')"
          >
            {{ $t('hits.enums.FAILED') }}
          </v-btn>
          <v-btn
            v-if="object.status === 'ASSIGNED'"
            color="blue darken-3"
            dark
            @click="changeStatus('COMPLETED')"
          >
            {{ $t('hits.enums.COMPLETED') }}
          </v-btn>

          <v-btn
            v-if="!isEditting && userGroupId !== 3 && object.status === 'ASSIGNED'"
            color="orange darken-1"
            dark
            @click="isEditting = true"
          >
            {{ $t('actions.edit') }}
          </v-btn>
          <v-btn
            v-if="isEditting && userGroupId !== 3 && (object.status === 'ASSIGNED' || object.id === undefined)"
            color="green darken-1"
            dark
            @click="graphqlScaffold(object.id === undefined ? 'add' : 'edit')"
          >
            {{ $t('actions.save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogBulk"
      max-width="90%"
      height="90%"
      scrollable
      persistent
      transition="dialog-transition"
      :overlay="false"
      :dark="isDark"
    >
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t('hits.editBulk') }}</span>
        </v-card-title>

        <v-card-text>
          <v-row
            v-for="(hit, index) in hitsActives"
            :key="index"
            class="pt-2"
          >
            <v-col
              cols="12"
              md="4"
            >
              <v-text-field
                v-model="hit.target"
                outlined
                :label="$t('hits.target')"
                disabled
              />
            </v-col>
            <v-col
              cols="12"
              md="4"
            >
              <v-text-field
                :value="$t(`hits.enums.${hit.status}`)"
                outlined
                :label="$t('hits.status')"
                disabled
              />
            </v-col>
            <v-col
              cols="12"
              md="4"
            >
              <v-autocomplete
                v-model="hit.hitmenId"
                outlined
                :items="hitmenList"
                item-value="id"
                item-text="email"
                :label="$t('hits.hitmenId')"
                :error="errorsMain.hitmenId.length > 0"
                :error-messages="errorsMain.hitmenId"
              />
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="red darken-1"
            dark
            @click="discard(false)"
          >
            {{ $t('actions.cancel') }}
          </v-btn>
          <v-spacer />
          <v-btn
            color="green darken-1"
            dark
            @click="graphqlScaffold('bulk')"
          >
            {{ $t('actions.save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import { mapState, mapGetters } from 'vuex'

import DefaultDataTable from '@/components/table/DataTable'

import { errorsMixn } from '@/mixins/utils/errors.js'
import { ConvertMixn } from '@/mixins/utils/convert.js'

import add from 'GraphQL/mutations/entities/hits/add.gql'
import edit from 'GraphQL/mutations/entities/hits/edit.gql'
import editBulk from 'GraphQL/mutations/entities/hits/editBulk.gql'
import del from 'GraphQL/mutations/entities/hits/delete.gql'
import detail from 'GraphQL/queries/entities/hits/list.gql'

export default {
  components: {
    DefaultDataTable
  },
  mixins: [errorsMixn, ConvertMixn],
  data () {
    return {
      dynamicSlots: [
        {
          name: 'item.status'
        }
      ],
      object: {},
      hitsActives: [],
      errorsMain: {},
      dialog: false,
      dialogBulk: false,
      isEditting: false,
      itemsPerPage: 10
    }
  },
  computed: {
    ...mapState(['isDark', 'users', 'hits', 'session']),
    ...mapGetters({
      defaultObject: 'hits/defaultObject',
      defaultErrors: 'hits/defaultErrors'
    }),
    /**
    * @author Jesus Miranda
    * function for modal title
    *
    * @return {String} title modal
    */
    dialogTitle () {
      if (this.object.id === undefined || this.object.id === '') {
        return this.$i18n.t('hits.title.new')
      } else {
        return this.$i18n.t(`hits.title.${this.isEditting ? 'edit' : 'show'}`, { name: this.object.target })
      }
    },
    /**
    * @author Jesus Miranda
    * function for the table header
    *
    * @return {Array} headers
    */
    headers () {
      return [
        { text: this.$i18n.t('hits.target'), value: 'target' },
        { text: this.$i18n.t('hits.description'), value: 'description' },
        { text: this.$i18n.t('hits.status'), value: 'status' },
        { text: this.$i18n.t('hits.hitmen.name'), value: 'hitmenEmail' }
      ]
    },
    /**
    * @author Jesus Miranda
    *
    * @return {Array} data
    */
    userGroupId () {
      if (this.session.entity.groups.length > 0) {
        return parseInt(this.session.entity.groups[0].id)
      }
      return 3
    },
    /**
    * @author Jesus Miranda
    *
    * @return {Array} data
    */
    hitmenList () {
      return this.users.list.filter(user => {
        if (this.object.hitmenId !== '' && this.object.hitmenId === user.id) {
          return user
        }
        if (user.isActive) {
          return user
        }
      })
    },
    actionsAccess () {
      return this.userGroupId === 3 ? { show: true, edit: false, delete: false } : { show: true, edit: true, delete: false }
    },
    /**
    * @author Jesus Miranda
    * function for table data
    *
    * @return {Array} data
    */
    data () {
      return this.hits.list
    }
  },
  watch: {
    data: function (value) {
      this.hitsActives = Object.assign([], value.filter(hit => hit.status === 'ASSIGNED'))
    }
  },
  created () {
    this.object = Object.assign({}, this.defaultObject)
    this.errorsMain = Object.assign({}, this.defaultErrors)
    this.hitsActives = Object.assign([], this.data.filter(hit => hit.status === 'ASSIGNED'))
  },
  methods: {
    /**
    * @author Jesus Miranda
    * function that clears the object and activates the modal
    *
    */
    newItem () {
      this.isEditting = true
      this.object = Object.assign({}, this.defaultObject)
      this.dialog = true
    },

    /**
    * @author Jesus Miranda
    * function that clears the object, errors and disables the modal
    *
    */
    discard (flag) {
      if (flag) {
        this.object = Object.assign({}, this.defaultObject)
        this.errorsMain = Object.assign({}, this.defaultErrors)
        this.isEditting = false
        this.dialog = false
      } else {
        this.dialogBulk = false
      }
    },
    /**
    * @author Jesus Miranda
    * function that detects the action requested in the table
    *
    * @param {*} { action, id }
    */
    async alterAction ({ action, id }) {
      if (action === 'delete') {
        this.graphqlScaffold('delete', id)
      } else {
        await this.$apollo.query({
          query: detail,
          variables: {
            id
          },
          fetchPolicy: 'no-cache'
        }).then((response) => {
          this.object = Object.assign({}, response.data.hits.edges[0].node)
          this.dialog = true
          if (action === 'edit') {
            this.isEditting = true
          }
        }).catch((errors) => {
          const errorObject = errors.message.replace(/'/g, '').split('code:')
          if (errorObject.length > 1 && errorObject[1] === '401') {
            this.$store.dispatch('session/refreshToken', false, { root: true }).then(() => { this.alterAction({ action, id }) })
          } else {
            this.$store.commit('toggleSnackbar')
          }
        }).finally(() => {})
      }
    },
    changeStatus (status) {
      this.object.status = status
      this.graphqlScaffold('edit')
    },
    /**
    * @author Jesus Miranda
    * function to create, edit or delete a hits
    *
    * @param {String} method {add, edit, delete}
    * @param {number} id
    */
    async graphqlScaffold (method, id) {
      this.errorsMain = Object.assign({}, this.defaultErrors)
      let mutation = add
      let name = 'hitCreate'

      let payload = {}

      if (method === 'bulk') {
        mutation = editBulk
        name = 'hitEditBulk'
        payload = {
          variables: this.hitsActives.map(hit => { return { id: hit.id, hitmenId: hit.hitmenId } })
        }
      } else {
        payload = {
          variables: {
            id: this.object.id,
            target: this.object.target,
            description: this.object.description,
            hitmenId: this.object.hitmenId,
            status: this.object.status
          }
        }
      }
      if (method === 'edit') {
        mutation = edit
        name = 'hitEdit'
      } else if (method === 'delete') {
        mutation = del
        name = 'hitDelete'
        delete payload.variables.data
        payload.variables.id = id
      }

      payload.mutation = mutation
      payload.name = name
      payload.method = method
      payload.module = 'hits'
      this.$store.dispatch('graphqlBaseScaffold', payload).then(result => {
        this.$store.dispatch('hits/getList', true)
        if (method === 'bulk') {
          this.discard(false)
        } else {
          this.discard(true)
        }
      }).catch((errors) => {
        this.errorsMain = Object.assign({}, this.defaultErrors)
        errors.forEach(error => {
          this.errorsMain[this.toCamel(error.field)] = error.message
        })
      }).finally(() => {})
    },
    /**
    * @author Jesus Miranda
    * function that returns the color according to the status of the hit
    *
    * @param {String} status
    * @return {String} color
    */
    getColor (status) {
      if (status === 'ASSIGNED') {
        return 'yellow darken-4'
      } else if (status === 'COMPLETED') {
        return 'green'
      } else {
        return 'red darken-4'
      }
    },
    editBulk () {
      if (this.hitsActives.length > 0) {
        this.dialogBulk = true
        return
      }
      this.$store.commit('toggleSnackbar', {
        message: this.$i18n.t('hits.errors.bulk'),
        color: 'orange'
      }, { root: true })
    }
  }
}
</script>
