<template>
  <v-card
    class="rounded-lg mx-auto my-12"
    width="25%"
    elevation="24 : 6"
  >
    <v-toolbar
      dark
      color="primary"
    >
      <v-toolbar-title>Inicio de sesion</v-toolbar-title>
    </v-toolbar>
    <v-card-text>
      <v-form>
        <v-text-field
          v-model="credentials.email"
          prepend-icon="mdi-account"
          type="text"
          :label="$t('users.email')"
        />
        <v-text-field
          v-model="credentials.password"
          prepend-icon="mdi-lock"
          :label="$t('users.password')"
          type="password"
          @keyup.enter="login"
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn
        dark
        color="grey darken-2"
        to="/Register"
      >
        {{ $t("users.signUp") }}
      </v-btn>
      <v-spacer />
      <v-btn
        dark
        color="blue darken-2"
        @click="login"
      >
        {{ $t("users.signIn") }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      loading: false,
      credentials: {
        email: '',
        password: ''
      }
    }
  },

  computed: {
    ...mapState(['width', 'isDark']),
    color () {
      if (this.isDark) {
        return 'white black--text'
      }

      return 'primary white--text'
    }
  },
  methods: {
    async login () {
      await this.$store.dispatch('session/login', this.credentials)
    },
    register () {
      this.$router.push({ name: 'register' })
    }
  }
}
</script>
