<template>
  <v-row justify="center">
    <v-col
      cols="12"
      lg="3"
      md="5"
    >
      <v-card>
        <v-toolbar
          dark
          color="primary"
        >
          <v-toolbar-title>Registro</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form novalidate="true">
            <v-text-field
              v-model="credentials.email"
              prepend-icon="mdi-account"
              :label="$t('users.email')"
              type="text"
              :error="errorsMain.email.length > 0"
              :error-messages="errorsMain.email"
            />
            <v-text-field
              v-model="credentials.firstName"
              prepend-icon="mdi-account"
              :label="$t('users.firstName')"
              type="text"
              :error="errorsMain.firstName.length > 0"
              :error-messages="errorsMain.firstName"
            />
            <v-text-field
              v-model="credentials.lastName"
              prepend-icon="mdi-account"
              :label="$t('users.lastName')"
              type="text"
              :error="errorsMain.lastName.length > 0"
              :error-messages="errorsMain.lastName"
            />
            <v-text-field
              v-model="credentials.password1"
              prepend-icon="mdi-lock"
              :label="$t('users.password')"
              type="password"
              :error="errorsMain.password1.length > 0"
              :error-messages="errorsMain.password1"
            />
            <v-text-field
              v-model="credentials.password2"
              prepend-icon="mdi-lock"
              :label="$t('users.confirmPassword')"
              type="password"
              :error="errorsMain.password2.length > 0"
              :error-messages="errorsMain.password2"
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            dark
            color="blue darken-2"
            to="/Login"
          >
            {{ $t("users.signIn") }}
          </v-btn>
          <v-spacer />
          <v-btn
            dark
            color="grey darken-2"
            @click="register"
          >
            {{ $t("users.signUp") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import add from 'GraphQL/mutations/entities/users/add.gql'
import { ConvertMixn } from '@/mixins/utils/convert.js'
import { errorsMixn } from '@/mixins/utils/errors.js'

export default {
  mixins: [errorsMixn, ConvertMixn],
  data () {
    return {
      credentials: {
        email: '',
        firstName: '',
        lastName: '',
        password1: '',
        password2: ''
      },
      errorsMain: {
        email: '',
        firstName: '',
        lastName: '',
        password1: '',
        password2: ''
      }
    }
  },

  computed: {
    ...mapState(['width', 'isDark']),
    color () {
      if (this.isDark) {
        return 'white black--text'
      }

      return 'primary white--text'
    },
    defaultErrors () {
      return {
        email: '',
        firstName: '',
        lastName: '',
        password1: '',
        password2: ''
      }
    }
  },
  methods: {
    register () {
      const payload = {
        variables: {
          ...this.credentials
        }
      }
      payload.mutation = add
      payload.name = 'userCreate'
      payload.method = 'add'
      payload.module = 'users'

      this.$store.dispatch('graphqlBaseScaffold', payload).then(result => {
        this.$router.push({ name: '/Login' })
      }).catch((errors) => {
        this.errorsMain = Object.assign({}, this.defaultErrors)
        errors.forEach(error => {
          this.errorsMain[this.toCamel(error.field)] = error.message
        })
      }).finally(() => {})
    }
  }
}
</script>
