<template>
  <v-container fluid>
    <default-data-table-v2
      name="users"
      module-permission="user"
      has-actions
      :new-item="false"
      :has-actions-new="false"
      :action-new="false"
      :actions-access="{show: true, edit: true, delete: false}"
      :items="data"
      :column="headers"
      :dynamic-slots="dynamicSlots"
      :items-per-page="itemsPerPage"
      :total-count="totalCount"
      @next-previous-page="nextOrPreviousPage"
      @search="search"
      @alter-actions="alterAction"
      @reload="$apollo.queries.data.refetch()"
    >
      <template v-slot:dynamicSlotisActive="item">
        <v-chip
          v-if="item.proxiedProps.isActive"
          dark
          color="green darken-2"
        >
          {{ $t(`users.isActive.active`) }}
        </v-chip>
        <v-chip
          v-else
          dark
        >
          {{ $t(`users.isActive.deactivate`) }}
        </v-chip>
      </template>
    </default-data-table-v2>
    <v-dialog
      v-model="dialog"
      max-width="90%"
      height="90%"
      scrollable
      persistent
      transition="dialog-transition"
      :overlay="false"
      :dark="isDark"
    >
      <v-card>
        <v-card-title>
          <span class="headline">
            {{ dialogTitle }}
          </span>
        </v-card-title>

        <v-card-text>
          <v-row class="pt-2">
            <v-col
              cols="12"
              sm="4"
            >
              <v-text-field
                v-model="object.email"
                outlined
                :label="$t('users.email')"
                :disabled="!isEditting || !object.isActive"
                :error="errorsMain.email.length > 0"
                :error-messages="errorsMain.email"
              />
            </v-col>
            <v-col
              cols="12"
              sm="4"
            >
              <v-text-field
                v-model="object.firstName"
                outlined
                :label="$t('users.firstName')"
                :disabled="!isEditting || !object.isActive"
              />
            </v-col>
            <v-col
              cols="12"
              sm="4"
            >
              <v-text-field
                v-model="object.lastName"
                outlined
                :label="$t('users.lastName')"
                :disabled="!isEditting || !object.isActive"
              />
            </v-col>
            <v-col
              cols="12"
              sm="4"
            >
              <v-text-field
                v-model="object.description"
                outlined
                :label="$t('users.description')"
                :disabled="!isEditting || !object.isActive"
              />
            </v-col>
            <v-col
              v-if="userGroupId === 1 && object.groupId == 2"
              cols="12"
              sm="4"
            >
              <v-autocomplete
                v-model="object.userHitmensIds"
                outlined
                multiple
                :items="hitmenList"
                item-value="id"
                item-text="email"
                :label="$t('users.userHitmensIds')"
                :disabled="!isEditting || !object.isActive"
              />
            </v-col>

            <v-col
              cols="12"
              sm="4"
            >
              <v-autocomplete
                :value="object.isActive"
                outlined
                :items="activeOptions"
                item-value="value"
                item-text="name"
                :label="$t('users.status')"
                disabled
              />
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="red darken-1"
            dark
            @click="discard"
          >
            {{ $t('actions.cancel') }}
          </v-btn>
          <v-spacer />
          <v-btn
            v-if="object.isActive"
            color="red darken-1"
            dark
            @click="graphqlScaffold('delete', object.id)"
          >
            {{ $t('users.actions.deactivate') }}
          </v-btn>
          <v-btn
            v-if="!isEditting && object.isActive"
            color="orange darken-1"
            dark
            @click="isEditting = true"
          >
            {{ $t('actions.edit') }}
          </v-btn>
          <v-btn
            v-if="isEditting && object.isActive"
            color="green darken-1"
            dark
            @click="graphqlScaffold('edit')"
          >
            {{ $t('actions.save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import { mapState, mapGetters } from 'vuex'

import DefaultDataTableV2 from '@/components/table/DataTable2'

import edit from 'GraphQL/mutations/entities/users/edit.gql'
import del from 'GraphQL/mutations/entities/users/delete.gql'
import detail from 'GraphQL/queries/entities/users/list.gql'

import { errorsMixn } from '@/mixins/utils/errors.js'
import { ConvertMixn } from '@/mixins/utils/convert.js'

export default {
  components: {
    DefaultDataTableV2
  },
  mixins: [errorsMixn, ConvertMixn],
  data () {
    return {
      dynamicSlots: [
        {
          name: 'item.isActive'
        }
      ],
      object: {},
      errorsMain: {},
      dialog: false,
      isEditting: false,
      itemsPerPage: 10,
      totalCount: 10
    }
  },
  computed: {
    ...mapState(['isDark', 'users', 'session']),
    ...mapGetters({
      defaultObject: 'users/defaultObject',
      defaultErrors: 'users/defaultErrors'
    }),
    /**
    * @author Jesus Miranda
    * function for modal title
    *
    * @return {String} title modal
    */
    dialogTitle () {
      if (this.object.id === undefined) {
        return this.$i18n.t('users.title.new')
      } else {
        return this.$i18n.t(`users.title.${this.isEditting ? 'edit' : 'show'}`, { name: this.object.firstName })
      }
    },
    /**
    * @author Jesus Miranda
    * function for the table header
    *
    * @return {Array} headers
    */
    headers () {
      return [
        { text: this.$i18n.t('users.firstName'), value: 'firstName' },
        { text: this.$i18n.t('users.lastName'), value: 'lastName' },
        { text: this.$i18n.t('users.email'), value: 'email' },
        { text: this.$i18n.t('users.status'), value: 'isActive' }
      ]
    },
    /**
    * @author Jesus Miranda
    *
    * @return {Array} data
    */
    userGroupId () {
      if (this.session.entity.groups.length > 0) {
        return parseInt(this.session.entity.groups[0].id)
      }
      return 3
    },
    /**
    * @author Jesus Miranda
    *
    * @return {Array} data
    */
    activeOptions () {
      return [
        {
          name: 'Activo',
          value: true
        },
        {
          name: 'Inactivo',
          value: false
        }
      ]
    },

    /**
    * @author Jesus Miranda
    *
    * @return {Array} data
    */
    hitmenList () {
      return this.users.list.filter(user => parseInt(user.groupId) === 3)
    }
    /**
    * @author Jesus Miranda
    * function for table data
    *
    * @return {Array} data
    */
    // data () {
    //   return this.users.list
    // }

  },
  apollo: {
    data: {
      query: detail,
      fetchPolicy: 'no-cache',
      variables () {
        return {
          first: this.itemsPerPage,
          offset: this.offset,
          id: null
        }
      },
      update (data) {
        this.totalCount = data.users.totalCount
        return data.users.edges.map(user => { return user.node })
      }
    }
  },
  created () {
    this.object = Object.assign({}, this.defaultObject)
    this.errorsMain = Object.assign({}, this.defaultErrors)
  },
  methods: {
    /**
    * @author Jesus Miranda
    * function that clears the object, errors and disables the modal
    *
    */
    discard () {
      this.object = Object.assign({}, this.defaultObject)
      this.errorsMain = Object.assign({}, this.defaultErrors)
      this.isEditting = false
      this.dialog = false
    },
    /**
    * @author Jesus Miranda
    * function that detects the action requested in the table
    *
    * @param {*} { action, id }
    */
    async alterAction ({ action, id }) {
      if (action === 'delete') {
        this.graphqlScaffold('delete', id)
      } else {
        await this.$apollo.query({
          query: detail,
          variables: {
            id
          },
          fetchPolicy: 'no-cache'
        }).then((response) => {
          this.object = Object.assign({}, response.data.users.edges[0].node)
          this.dialog = true
          if (action === 'edit') {
            this.isEditting = true
          }
        }).catch((errors) => {
          const errorObject = errors.message.replace(/'/g, '').split('code:')
          if (errorObject.length > 1 && errorObject[1] === '401') {
            this.$store.dispatch('session/refreshToken', false, { root: true }).then(() => { this.alterAction({ action, id }) })
          } else {
            this.$store.commit('toggleSnackbar')
          }
        }).finally(() => {})
      }
    },
    /**
    * @author Jesus Miranda
    * function to create, edit or delete a users
    *
    * @param {String} method {add, edit, delete}
    * @param {number} id
    */
    async graphqlScaffold (method, id) {
      this.errorsMain = Object.assign({}, this.defaultErrors)
      let mutation = edit
      let name = 'userEdit'
      const payload = {
        variables: {
          id: this.object.id,
          email: this.object.email,
          firstName: this.object.firstName,
          lastName: this.object.lastName,
          description: this.object.description
        }
      }
      if (this.userGroupId === 1 && parseInt(this.object.groupId) === 2) {
        payload.variables.hitmenIds = this.object.userHitmensIds
      }

      if (method === 'delete') {
        mutation = del
        name = 'userDelete'
        delete payload.variables
        payload.variables = { id: id }
      }

      payload.mutation = mutation
      payload.name = name
      payload.method = method
      payload.module = 'users'

      this.$store.dispatch('graphqlBaseScaffold', payload).then(result => {
        this.$apollo.queries.data.refetch({
          first: this.itemsPerPage, offset: 0
        })
        this.$store.dispatch('users/getList', true)
        this.discard()
      }).catch((errors) => {
        this.errorsMain = Object.assign({}, this.defaultErrors)
        errors.forEach(error => {
          this.errorsMain[this.toCamel(error.field)] = error.message
        })
      }).finally(() => {})
    },
    /**
    * @author Jesus Miranda
    *
    *
    * @param {Number} page
    */
    async nextOrPreviousPage ({ first, offset }) {
      await this.$apollo.queries.data.refetch({
        first: this.itemsPerPage, offset: offset
      })
    },
    /**
    * @author Jesus Miranda
    *
    *
    * @param {id} id
    */
    async search (id) {
      await this.$apollo.queries.data.refetch({
        first: this.itemsPerPage,
        offset: 0,
        id: id === '' ? null : id
      })
    }
  }
}
</script>
