{% load render_bundle from webpack_loader %}
{% load static %}

<html>
  <head>
    <title>Proyecto base</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  
    <!-- <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" /> -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
    {% render_bundle 'main' 'css' %}
  </head>
  <body>
    <div id="app"></div>
    
    {% render_bundle 'main' 'js' %}
  </body>
</head>