<template>
  <v-app>
    <transition
      name="component-fade"
      mode="out-in"
    >
      <router-view />
    </transition>
    <default-snackbar />
  </v-app>
</template>
<script>
import DefaultSnackbar from '@/components/utils/Snackbar'
export default {
  components: {
    DefaultSnackbar
  }
}
</script>

<style>
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
